.panels-header {
    display: flex;    
    justify-content: space-between;  
    height: 100%;        
}

.panel-nav, .user-account {
    display: flex;
    align-items: center;    
}

.panel-nav {
    gap: 25px;
}

.panel-nav input[type="search"] {
    height: 35px;
    width: 155px;
    border: 1px solid #EBEBEB;    
    border-radius: 8px;
    padding-left: 38px;
    font-family: inherit;   
    outline-color: #bebebe;    
}

.panel-nav input[type="search"]::placeholder {
    color: #979797;
    font-size: 12px;
    line-height: 14px;
}


.user-account {
    gap: 10px;
    position: relative;
}

.user-account p {
    font-family: Gilroy-Semibold;
    font-size: 20px;
    line-height: 24px;
}

.user-account img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
}

.panel-nav form {
    position: relative;  
    margin-left: 20px;  
}

.panel-nav form i {
    position: absolute;
    top: 12px;
    left: 18px;
    color: #979797;  
    font-size: 12px;  
}

.notification {
    position: relative;
}

.fa-bell {
    color: #979797;
    font-size: 20px;
}

.fa-chevron-down {
    color: #5B5B5B;
    font-size: 12px;    
}

ul.dropdown {
    position: absolute;
    list-style: none;
    padding-left: 0;
    background-color: #FDFDFF;
    border: 1px solid #EBEBEB; 
    border-radius: 13px;
    left: 20px;
    top: 10px;
    visibility: hidden;
}

ul.dropdown li {
    padding: 10px;
}

ul.dropdown:hover {
    visibility: visible;
}

.fa-chevron-down:hover + ul.dropdown {
    visibility: visible; 
}

.round {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #7F7FD5; 
    border-radius: 50%;
    border: 2px solid #EFF3F9;
    top: -2px;
    right: -3px;
}

