header {
    position: fixed;
    width: 100%;
}

nav {
    background-color: #000000;
    min-height: 70px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding-left: 110px;
    padding-right: 110px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 48px;
}

.navbar li a {
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.navbar li a:hover {
    color: #ec7979;
}

.logo a{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.logo a span, p.big span {
    color:#ec7979;    
}