body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.white {
    color: #ffffff;    
}

.download-button {
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 11px 20px 7px 20px;
    border: 1px solid #ffffff;
    width: 135px;  
    background-color: rgba(255, 255, 255, 0);  
}

.download-button:hover {
    color: #ffffff;
    background-color: #eb5656;
}











































