@media (max-width: 940px) { 

    .main-header {
        border-bottom: none;
        position: static;
    } 

    .main-navigation {
        flex-direction: column;
        padding-bottom: 0; 
    }

    .site-navigation {
        display: flex;
        flex-direction: column;  
        padding-left: 0px;  
        width: 100%; 
        text-align: center;    
    }

    .site-navigation li {    
        padding-left: 0px; 
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid #E6E6E6;;           
    }

    .site-navigation:last-child {
        border-bottom: 1px solid #E6E6E6;;
    }

    .main-header img {
        margin-bottom: 20px;    
    }

    .about-container-description {
        flex-direction: column;  
             
    }

    .about-container-description-text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .about-container-description-images {
        justify-content: center;
        flex-wrap: wrap;
    } 

    .services-container>div {
        flex-direction: column; 
        text-align: center;               
    }

    .dash {
        margin: 0 auto;
    }

    .services-container-items {
        flex-direction: column;
        align-items: center;
    }

    .section-get-in-touch {        
        height: 300px;   
    }
    
    .newsletter-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-wrapper {        
        margin-left: 20px;
        margin-right: 20px;
        gap: 30px;             
    }       
 }

 @media (max-width: 490px) {
    .footer-wrapper {        
        flex-direction: column;        
    } 

    .newsletter-wrapper form {
        display: flex;
        flex-direction: column;
    }    

    .section-get-in-touch p {
        margin-left: 10px;
        margin-right: 10px;
    }  
    
    .newsletter-wrapper input {
        padding: 11px 0 11px 5px;        
        width: 150px;
 } 

    .lists{
        flex-wrap: wrap;
    }
}