.main-footer {
    background-color: #141A20;    
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.footer-wrapper p {
    font-weight: 400;
    font-size: 11px;    
    color: #FFFFFF;    
}

.footer-links p {
    line-height: 19px;
}

.footer-address p {
    line-height: 16px;        
}

p.name {
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin-top: 0;   
    margin-bottom: 15px;
}

.main-footer img {
    width: 102px;    
}

.footer-company-info {
    max-width: 250px;
}

.footer-copyright {
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
    background-color: black;
}

.lists {
    display: flex;
    gap: 35px;
}

.lists ul {
    padding-left: 0; 
    margin: 0;   
}

.lists ul li a {
    color: #ffffff;
}

.lists ul li a:hover {
    color: #00A4E5;
}

.footer-social {
    display: flex;
    gap: 25px;
    padding-left: 0;
    margin: 30px 0 0 0;

}

.footer-social img {
    width: 12px;
    height: 12px;
}